@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@layer base {
    html {
        @apply text-sm font-primary;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }
    h1 {
        @apply text-h1 leading-h1;
    }
    h2 {
        @apply text-h2 leading-h2;
    }
    h3 {
        @apply text-h3 leading-h3;
    }
    h4 {
        @apply text-h4 leading-h4;
    }
    h5 {
        @apply text-h5 leading-h5;
    }
    h6 {
        @apply text-h6 leading-h6;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 7px;
        height: 5px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: #e8e8e8;
        border-radius: 5px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #b7b7b7;
        border-radius: 5px;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #777e8b;
    }
}

@tailwind components;
@layer components {
    .btn {
        @apply flex items-center justify-center gap-3 text-white font-primary font-semibold rounded-[5px] py-3 px-[30px];
    }
    .btn-primary {
        @apply bg-primary-80;
    }
    .btn-secondary {
        @apply bg-secondary-80;
    }
    .btn-thirdth {
        @apply border text-secondary-40;
    }
    .input {
        @apply bg-secondary-30 text-secondary-40 rounded-[10px] py-[10px] px-[10px];
    }
}

@tailwind utilities;
@layer utilities {
    .shadow-light {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .ripple-bg {
        background-position: center;
        transition: background 0.8s;
    }
    .ripple-bg:hover {
        background: inherit radial-gradient(circle, transparent 1%, inherit 1%) center/15000%;
    }
    .ripple-bg:active {
        background-size: 100%;
        transition: background 0s;
    }
    .image-container {
        @apply relative;
    }
    .image-container span {
        position: unset !important;
        @apply !h-full;
    }
    .image-container .image {
        @apply object-cover !w-full !h-full !relative;
    }
    .triangle {
        position: relative;
        background-color: white;
        text-align: left;
    }
    .triangle:before,
    .triangle:after {
        content: '';
        position: absolute;
        background-color: inherit;
    }
    .triangle,
    .triangle:before,
    .triangle:after {
        width: 1em;
        height: 1em;
        border-top-right-radius: 50%;
    }

    .triangle {
        transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
    }
    .triangle:before {
        transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
    }
    .triangle:after {
        transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
    }
}
